doctype html
html
  head
    title= "Temperature and Humidity"
    link(rel="stylesheet" type="text/css" href="/.static/flatpickr.min.css")/
    style.
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        width: 100%;
      }
      .temperature {
        border: 1px solid green;
      }
      .humidity {
        border: 1px solid blue;
      }
      .pressure {
        border: 1px solid red;
      }
    script(src="/.static/d3.v5.min.js")
    script(src="/.static/graph.js")
    script(src="/.static/flatpickr.min.js")
  body
    div
      input(type="text" id="start")
      input(type="text" id="end")
    svg(id="graph")/
